@model SeminarskiMobiteli.ViewModel.AdminPostDodajVM

 


<div class="not-layout" style="padding:2%;"  >
    <div id="start">
        <h4 class="text-center title is-4">Kreiraj novi post</h4>
        <hr />
        <div class="row forma-oglas-add">
            <div class="forma-oglas-add">
                <form asp-action="Snimi">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Naslov" class="control-label"> Naslov </label>
                        <input asp-for="Naslov" class="form-control" placeholder="Unesite naslov" />
                        <span asp-validation-for="Naslov" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sadrzaj" class="control-label"> Sadržaj </label>
                        <textarea asp-for="Sadrzaj" class="form-control" placeholder="Unesite vaš sadržaj ovdje" id="oglas-sadrzaj"></textarea>
                        <span asp-validation-for="Sadrzaj" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Autor" class="control-label"> Autor </label>
                        <input asp-for="Autor"  value="@Model.Autor" class="form-control" placeholder="Autor" readonly />
                        <span asp-validation-for="AutorId" class="text-danger" ></span>
                    </div>



                    <div class="form-group">
                        <label class="control-label"> Datum objave posta</label>
                        <input value="@DateTime.UtcNow.ToString("dddd dd/MM/yyyy")" disabled class="form-control" />
                    </div>

                    


                    <div class="form-group">
                        <input type="submit" value="Dodaj post" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>

 