@model SeminarskiMobiteli.ViewModel.AdminPostIndexVM

<h2>Post </h2>

<table class="table table-striped">

    <thead>
        <tr>

            <th>Naslov</th>
            <th>Sadrzaj</th>
            <th>Akcija</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>@x.Naslov</td>
                <td>@x.Sadrzaj</td>
                <td><a class="btn btn-outline-danger btn-sm" asp-action="Izbrisi" asp-controller="Post" asp-route-id="@x.PostId">
                    <i class="fa fa-trash"></i></a></td>
                <td><a class="btn btn-outline-primary btn-sm" asp-action="Uredi" asp-controller="Post" asp-route-id="@x.PostId">
                        <i class="fa fa-pen"></i></a></td>

            </tr>

        }
    </tbody>

</table>

<a asp-action="Dodaj" asp-controller="Post" class="btn btn-success">Dodaj</a>
