@model SeminarskiMobiteli.ViewModel.KorisnikIzmijeniVM
@using SeminarskiMobiteli.Helper
@using Microsoft.AspNetCore.Http
@using EntityModels.Models

@{
    KorisnickiNalog user = Context.GetLogiraniKorisnik();
    //Layout = "~/Areas/Views/Shared/_Layout.cshtml";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper p-4">
    <form asp-action="SnimiUredi">
        <input asp-for="KorisnikId" hidden />


        
        <section class="bg-[#F4F7FF] py-14 lg:py-20">
            <div class="container">
                <div class="flex flex-wrap -mx-4">
                    <div class="w-full px-4">

                            <div class="not-layout">
                                @if (user?.TipKorisnickogNaloga == null)
                                {
                                      
                                        <h4 style="background-color:	#242526;" class="w-full rounded-md border bordder-primary py-3 px-5 text-center text-base text-white cursor-pointer hover:shadow-md transition duration-300 ease-in-out" > @user?.KorisnickoIme</h4>
                                }

                           </div>

                        <div class="max-w-[525px] mx-auto text-center bg-white rounded-lg relative overflow-hidden py-14 px-8 sm:px-12 md:px-[60px] wow fadeInUp" data-wow-delay=".15s">
                            <div class="mb-10 text-center">
                                <a href="javascript:void(0)" class="inline-block max-w-[160px] mx-auto">
                                </a>
                            </div>
                    

            

                             
                                
                                    <div>
                                        @Html.HiddenFor(s => s.KorisnikId)
                                    </div>

                                   <div class="mb-6">
                                    <h4  style="font-weight:bold; font-size:19px;"> Ime: </h4>
                                    <div>
                                        <input asp-for="Ime"  class="text-center w-full rounded-md border bordder-[#E9EDF4] py-3 px-5 bg-[#FCFDFE] text-base text-body-color placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary transition" required="true"  />
                                        <span asp-validation-for="Ime"   class="text-danger"></span>
                                    </div>
                                </div>

                                   <div class="mb-6">
                                    <h4 style="font-weight:bold; font-size:19px;"> Prezime: </h4>
                                    <div>
                                        <input asp-for="Prezime"  class="text-center w-full rounded-md border bordder-[#E9EDF4] py-3 px-5 bg-[#FCFDFE] text-base text-body-color placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary transition" required="true"  />
                                        <span asp-validation-for="Prezime"   class="text-danger"></span>
                                    </div>
                                </div>
                                  <div class="mb-6">
                                    <h4 style="font-weight:bold; font-size:19px;"> Drzava: </h4>
                                    <div>
                                          <select asp-for="SjedisteId" asp-items="Model.Sjediste" class="form-control"></select>
                                        <span asp-validation-for="SjedisteId" class="text-danger"></span>
                                    </div>
                                </div>

                                  <div class="mb-6">
                                    <h4 style="font-weight:bold; font-size:19px;"> Korisnicko ime: </h4>
                                    <div>
                                        <input asp-for="KorisnickoIme"  class="text-center w-full rounded-md border bordder-[#E9EDF4] py-3 px-5 bg-[#FCFDFE] text-base text-body-color placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary transition" required="true"  />
                                        <span asp-validation-for="KorisnickoIme"   class="text-danger"></span>
                                    </div>
                                </div>

                                 <div class="mb-6">
                                    <h4 style="font-weight:bold; font-size:19px;"> Lozinka: </h4>
                                    <div>
                                        <input asp-for="Lozinka" class="text-center w-full rounded-md border bordder-[#E9EDF4] py-3 px-5 bg-[#FCFDFE] text-base text-body-color placeholder-[#ACB6BE] outline-none focus-visible:shadow-none focus:border-primary transition"  required="true" />
                                        <span asp-validation-for="Lozinka" class="text-danger"></span>
                                    </div>
                                </div>
                               



                                     

                                     <input type="submit" class="w-full rounded-md border bordder-primary py-3 px-5 bg-primary text-base text-white cursor-pointer hover:shadow-md transition duration-300 ease-in-out" value="Spasi promjene" />

                     
                            

                        </div>
                    </div>
                </div>
            </div>
        </section>





     
    </form>
</div>