@model SeminarskiMobiteli.ViewModel.AdminKategorijaDodajVM
<form asp-action="Snimi">





 

	<div class="form-group">
		<label>Naziv :</label>
		<div>
			<input class="form-control" asp-for="Kategorija" value="">
		</div>
	</div>




	<input type="submit" value="Snimi" class="btn btn-success" />

</form>

