<html style="font-size: 16px;">

<body data-home-page="Home.html" data-home-page-title="Home" class="u-body u-xl-mode">
  
    <section class="u-clearfix u-image u-section-1" id="carousel_efd0">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center-lg u-align-center-md u-align-center-xl u-align-center-xs u-container-style u-expanded-width-sm u-group u-group-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-top-sm u-valign-top-xs u-container-layout-1">
                    <h1 class="u-custom-font u-font-ubuntu u-text u-text-palette-5-base u-title u-text-1">Najpovoljnije cijene mobitela u BiH i regionu !</h1>
                    <h2 class="u-align-center-sm u-text u-text-body-alt-color u-text-2"></h2>
                    <p class="u-align-center-sm u-text u-text-custom-color-1 u-text-3 text-light">Dođite posjetite nas u našim prostorijama</p>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-image u-section-2" id="carousel_6b43">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-right u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
                <div class="u-container-layout u-valign-bottom-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-xl">
                    <h2 class="u-custom-font u-font-ubuntu u-text u-text-palette-5-base u-text-1">Iphone XS i Iphone XS Max u nasoj ponudi po povoljnim cijenama !</h2>
                    <p class="u-text u-text-body-alt-color u-text-2">iPhone XS ima 5,8-inčni OLED zaslon, a iPhone XS Max ima 6,5-inčni OLED zaslon, što znači da je iPhone Xs Max veći; međutim, osim toga, nema razlike između dva nova telefona iznutra.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="u-black u-clearfix u-section-3" id="carousel_1b45">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout">
                                <h2 class="u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-1">Unutrašnjost</h2>
                                <p class="u-text u-text-2">iPhone Xs i iPhone XS Max koriste novi A12 Bionic čip. Oba telefona imaju 6-jezgreni CPU i 4-jezgreni GPU, oba su brža i moćnija od prošlogodišnjeg iPhonea X.</p>
                                <h2 class="u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-3">Kamera</h2>
                                <p class="u-text u-text-4">iPhone XS i iPhone XS Max dolaze sa sustavom dvostruke kamere na stražnjoj strani koji se sastoji od širokokutne leće f1.8 od 12 MP i teleobjektiva od 12 MP od f2.4.</p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout">
                                <h2 class="u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-5">Video</h2>
                                <p class="u-text u-text-6">Video mogućnosti su iste kao i prošlogodišnji iPhone X, što znači da možete očekivati da će iPhone XS i iPhone XS Max imati sljedeće video specifikacije:</p>
                                <ul class="u-text u-text-7">
                                    <li>4K video recording at 24 fps, 30 fps or 60 fps</li>
                                    <li>1080p HD video recording at 30 fps or 60 fps</li>
                                    <li>720p HD video recording at 30 fps</li>
                                    <li>Optical image stabilization for video</li>
                                    <li>Slo‑mo video support for 1080p at 120 fps or 240 fps</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-black u-clearfix u-section-4" id="carousel_eae9">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-expand-resize u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle-sm u-container-layout-1">
                                <img src="~/images/964b6200b1c46a8db64dd90e1f571a50.png" alt="" class="u-image u-image-default u-image-1" data-image-width="330" data-image-height="637">
                                <h2 class="u-text u-text-custom-color-1 u-text-1">
                                    <a href="https://www.apple.com/iphone-xs/#display-compare-gallery-item-1" id="display-compare-gallery-item-1-trigger" class="current tabnav-link" role="tab">iPhone&nbsp;</a>Xs Max<br>
                                </h2>
                                <h2 class="u-text u-text-2">
                                    6.5″&nbsp;display<a href="https://www.apple.com/iphone-xs/#footnote-1" class="footnote">1</a>
                                    <br>
                                </h2>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-expand-resize u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle-sm u-container-layout-2">
                                <img src="~/images/96451c752bbf194d486d87ecd7d1aea4.png" alt="" class="u-image u-image-default u-image-2" data-image-width="280" data-image-height="564">
                                <h2 class="u-text u-text-custom-color-1 u-text-3">
                                    <a href="https://www.apple.com/iphone-xs/#display-compare-gallery-item-1" id="display-compare-gallery-item-1-trigger" class="current tabnav-link" role="tab">iPhone&nbsp;</a>Xs<br>
                                </h2>
                                <h2 class="u-text u-text-4">
                                    5.8″&nbsp;display<a href="https://www.apple.com/iphone-xs/#footnote-1" class="footnote">1</a>
                                    <br>
                                </h2>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-expand-resize u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
                            <div class="u-container-layout u-valign-middle-sm u-container-layout-3">
                                <img src="~/images/94cf3d8d0254d6c09c84329da040f874.png" alt="" class="u-image u-image-default u-image-3" data-image-width="318" data-image-height="610">
                                <h2 class="u-text u-text-custom-color-1 u-text-5">
                                    <a href="https://www.apple.com/iphone-xs/#display-compare-gallery-item-1" id="display-compare-gallery-item-1-trigger" class="current tabnav-link" role="tab">iPhone&nbsp;</a>Xr<br>
                                </h2>
                                <h2 class="u-text u-text-6">
                                    6.1″&nbsp;display<a href="https://www.apple.com/iphone-xs/#footnote-1" class="footnote">1</a>
                                    <br>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-black u-clearfix u-section-6" id="carousel_52e5">
        <img src="~/images/aefa4a2923daa7d3b8b6acf030b2478b.jpeg" alt="" class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="970" data-image-height="546">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-expanded-width-sm u-group u-group-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-1">
                    <h2 class="u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-1">Advanced Face&nbsp;ID</h2>
                    <h2 class="u-text u-text-2">Sigurnost je na većem nivou!</h2>
                  
                </div>
            </div>
        </div>
    </section>
   
 
</body>
</html>